*

!.vimrc
!docker
!docker/*
!README.md
!.gitconfig
!.gitignore
!.profile
!.bash_aliases
!.bin/
!.bin/*
!csgo/
!csgo/csgo/
!csgo/csgo/cfg/
!csgo/csgo/cfg/server.cfg
!csgo/csgo/cfg/server-security.cfg
!csgo/csgo/cfg/gamemode_casual_server.cfg
!insurgency/
!insurgency/insurgency/
!insurgency/insurgency/start.sh
!insurgency/insurgency/cfg
!insurgency/insurgency/cfg/server.cfg
!insurgency/insurgency/cfg/server-security.cfg

!tf2/
!tf2/tf/
!tf2/tf/cfg
!tf2/tf/cfg/server.cfg
!tf2/tf/cfg/server-security.cfg
!tf2/tf/cfg/mapcycle.txt
!tf2/tf/maps/
!tf2/tf/maps/*.nav
!tf2/tf/maps/boxing_ring.bsp

!rust/
!rust/server/
!rust/server/my_server_identity/
!rust/server/my_server_identity/cfg/
!rust/server/my_server_identity/cfg/server.cfg

*.DS_Store
