*

!.vimrc
!docker
!docker/*
!README.md
!.gitconfig
!.gitignore
!.profile
!.bash_aliases
!.bin/
!.bin/*
!csgo/
!csgo/csgo/
!csgo/csgo/cfg/
!csgo/csgo/cfg/server.cfg
!csgo/csgo/cfg/server-security.cfg
!csgo/csgo/cfg/gamemode_casual_server.cfg
!insurgency/
!insurgency/insurgency/
!insurgency/insurgency/start.sh
!insurgency/insurgency/cfg
!insurgency/insurgency/cfg/server.cfg
!insurgency/insurgency/cfg/server-security.cfg

!tf2/
!tf2/tf/
!tf2/tf/cfg
!tf2/tf/cfg/server.cfg
!tf2/tf/cfg/server-security.cfg
!tf2/tf/maps/
!tf2/tf/maps/ctf_2fort.nav

*.DS_Store
